gswsBackendAPI/Web References/Sadarem/ValidSadaremid.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://in.com/" targetNamespace="http://in.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RTGSSadaremData" type="tns:RTGSSadaremData" />
  <xs:element name="RTGSSadaremDataResponse" type="tns:RTGSSadaremDataResponse" />
  <xs:element name="checkSadaremDetails" type="tns:checkSadaremDetails" />
  <xs:element name="checkSadaremDetailsResponse" type="tns:checkSadaremDetailsResponse" />
  <xs:element name="getDisabilitydetails" type="tns:getDisabilitydetails" />
  <xs:element name="getDisabilitydetailsResponse" type="tns:getDisabilitydetailsResponse" />
  <xs:element name="getSADAREMDetailsValidation" type="tns:getSADAREMDetailsValidation" />
  <xs:element name="getSADAREMDetailsValidationResponse" type="tns:getSADAREMDetailsValidationResponse" />
  <xs:element name="getSADAREMValidation" type="tns:getSADAREMValidation" />
  <xs:element name="getSADAREMValidationResponse" type="tns:getSADAREMValidationResponse" />
  <xs:element name="getTemparyorpermenant" type="tns:getTemparyorpermenant" />
  <xs:element name="getTemparyorpermenantResponse" type="tns:getTemparyorpermenantResponse" />
  <xs:element name="getcertificatvalid" type="tns:getcertificatvalid" />
  <xs:element name="getcertificatvalidResponse" type="tns:getcertificatvalidResponse" />
  <xs:element name="operation" type="tns:operation" />
  <xs:element name="operationResponse" type="tns:operationResponse" />
  <xs:complexType name="operation">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="operationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="checkSadaremDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="sadaremId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="checkSadaremDetailsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSADAREMDetailsValidation">
    <xs:sequence>
      <xs:element minOccurs="0" name="personcode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSADAREMDetailsValidationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getDisabilitydetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="personcode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getDisabilitydetailsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getcertificatvalid">
    <xs:sequence>
      <xs:element minOccurs="0" name="personcode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getcertificatvalidResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getTemparyorpermenant">
    <xs:sequence>
      <xs:element minOccurs="0" name="personcode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getTemparyorpermenantResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RTGSSadaremData">
    <xs:sequence>
      <xs:element minOccurs="0" name="fromdate" type="xs:string" />
      <xs:element minOccurs="0" name="todate" type="xs:string" />
      <xs:element minOccurs="0" name="username1" type="xs:string" />
      <xs:element minOccurs="0" name="password1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RTGSSadaremDataResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSADAREMValidation">
    <xs:sequence>
      <xs:element minOccurs="0" name="personcode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSADAREMValidationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>