gswsBackendAPI/Web References/UATSMSService/SMSService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mobileno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSMSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendTeluguSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mobileno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendTeluguSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendTeluguSMSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendBulkSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mobilenos" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendBulkSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendBulkSMSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendSMSSoapIn">
    <wsdl:part name="parameters" element="tns:SendSMS" />
  </wsdl:message>
  <wsdl:message name="SendSMSSoapOut">
    <wsdl:part name="parameters" element="tns:SendSMSResponse" />
  </wsdl:message>
  <wsdl:message name="SendTeluguSMSSoapIn">
    <wsdl:part name="parameters" element="tns:SendTeluguSMS" />
  </wsdl:message>
  <wsdl:message name="SendTeluguSMSSoapOut">
    <wsdl:part name="parameters" element="tns:SendTeluguSMSResponse" />
  </wsdl:message>
  <wsdl:message name="SendBulkSMSSoapIn">
    <wsdl:part name="parameters" element="tns:SendBulkSMS" />
  </wsdl:message>
  <wsdl:message name="SendBulkSMSSoapOut">
    <wsdl:part name="parameters" element="tns:SendBulkSMSResponse" />
  </wsdl:message>
  <wsdl:portType name="SMSServiceSoap">
    <wsdl:operation name="SendSMS">
      <wsdl:input message="tns:SendSMSSoapIn" />
      <wsdl:output message="tns:SendSMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendTeluguSMS">
      <wsdl:input message="tns:SendTeluguSMSSoapIn" />
      <wsdl:output message="tns:SendTeluguSMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendBulkSMS">
      <wsdl:input message="tns:SendBulkSMSSoapIn" />
      <wsdl:output message="tns:SendBulkSMSSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SMSServiceSoap" type="tns:SMSServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSMS">
      <soap:operation soapAction="http://tempuri.org/SendSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendTeluguSMS">
      <soap:operation soapAction="http://tempuri.org/SendTeluguSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendBulkSMS">
      <soap:operation soapAction="http://tempuri.org/SendBulkSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SMSServiceSoap12" type="tns:SMSServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSMS">
      <soap12:operation soapAction="http://tempuri.org/SendSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendTeluguSMS">
      <soap12:operation soapAction="http://tempuri.org/SendTeluguSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendBulkSMS">
      <soap12:operation soapAction="http://tempuri.org/SendBulkSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SMSService">
    <wsdl:port name="SMSServiceSoap" binding="tns:SMSServiceSoap">
      <soap:address location="http://uat.gramawardsachivalayam.ap.gov.in/SMSAPP/SMSService.asmx" />
    </wsdl:port>
    <wsdl:port name="SMSServiceSoap12" binding="tns:SMSServiceSoap12">
      <soap12:address location="http://uat.gramawardsachivalayam.ap.gov.in/SMSAPP/SMSService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>